html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  #conten {
    flex: 1;
  }

  .elemento-detras {
    position: relative;
  }

  .floating-icon {
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 1000;
    cursor: pointer;
  }

  .cursor-pequeno { cursor: small; }
  .cursor-grande { cursor: url("./IMG/Cursor02.png"), auto; }

  .texto-pequeno { font-size: small; }
  .texto-mediano { font-size: medium; }
  .texto-grande { font-size: 135%; }

  .fuente-dislexia {
    font-family: 'OpenDyslexic', sans-serif;
    word-spacing: 0.25em;
  }