.floating-icon {
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 1000;
    cursor: pointer;
  }
  .cursor-pequeno {
    cursor: small;
  }

  .cursor-grande {
      cursor: url("IMG/Cursor.png"), auto;
  }

  .texto-pequeno {
      font-size: small;
  }

  .texto-mediano {
      font-size: medium;
  }

  .texto-grande {
      font-size: 135%;
  }

  .fuente-dislexia {
    font-family: 'OpenDyslexic', sans-serif;
  }

  .elemento-detras {
    z-index: -1; 
  }